<mat-toolbar class="header">
    <div class="title">
        <img src="logo.png" alt="logo" class="logo">
        <span>foodiehub</span>
    </div>
    <div class="example-spacer"></div>
    <div class="links">
        <a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="/user/cuisine" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Cuisines</a>
        <a routerLink="/user/about-us" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">About us</a>
        <a routerLink="/user/reviews" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Reviews</a>
        <a routerLink="/user/blog" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Blog</a>
        <a routerLink="/user/contact-us" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Contact us</a>
        <a routerLink="/user/deals" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-gift"></i>
        </a>
        <span class="search">
            <input type="text" name="search-box" id="search-box" placeholder="Search..." [formControl]="searchControl" (keyup.enter)="onSearch()">
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>
    </div>
    <div class="menu">
        <button mat-icon-button [matMenuTriggerFor]="menu" matMenuPositionX="after" matMenuPositionY="below" class="example-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon>segment</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item type="button">
                <span class="menu-item">My Profile</span>
            </button>
            <button mat-menu-item type="button">
                <span class="menu-item">My cart</span>
            </button>
            <button mat-menu-item type="button">
                <span class="menu-item">My Wishlist</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>