<mat-toolbar class="header">
    <div class="title">
        <img src="logo.png" alt="logo" class="logo">
        <span>foodiehub</span>
    </div>
    <div class="example-spacer"></div>
    <div class="links">
        <a routerLink="/home">Home</a>
        <a routerLink="/">Cuisines</a>
        <a routerLink="/">About us</a>
        <a routerLink="/">Reviews</a>
        <a routerLink="/">Blog</a>
        <a routerLink="/">Contact us</a>
        <a routerLink="/">
            <i class="fa-solid fa-gift"></i>
        </a>
    </div>
    <div class="menu">
        <button mat-icon-button [matMenuTriggerFor]="menu" matMenuPositionX="after" matMenuPositionY="below" class="example-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon>segment</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <span class="menu-item">Login</span>
            </button>
            <button mat-menu-item>
                <span class="menu-item">Signup</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>