$primary-color: #f9b303;
// $secondary-color: #fcff82;
$font-color: rgb(78, 78, 78);
$secondary-font-color: white;
$hover-color: #f9b303;
$border-color: black;
$toast-success-bg: #4caf50;
$toast-error-bg: #ef5350;

$blue-color: blue;