$primary-color: #f9b303;
// $secondary-color: #fcff82;
$font-color: rgb(78, 78, 78);
$secondary-font-color: white;
$hover-color: #f9b303;
$border-color: black;
$toast-success-bg: #248f28c2;
$toast-error-bg: #ff110083;

$blue-color: blue;