// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@use "../src/styles/variables" as *;

html,
body {
  height: 100%;
  font-family: "Libertinus Serif";
}
body {
  margin: 0;
}
.mat-mdc-menu-panel {
  background-color: white !important;
}

.toast-top-center {
  top: 18px !important;
}

#toast-container > .toast-error {
  background-color: $toast-error-bg !important;
}

#toast-container > .toast-success {
  background-color: $toast-success-bg !important;
}
